@import "base/normalize";
@import "base/reset";
@import "base/root";
@import "base/light";
@import "base/dark";
@import "base/grid";
@import "base/scaffolding";
@import "base/headings";
@import "base/links";

@import "components/navbar";
@import "components/bio";
@import "components/posts";
@import "components/post_tag";
@import "components/footer";
@import "components/helpers";
@import "components/table";
@import "components/tags";
@import "components/search";

@import "components/post";
@import "components/comments";
@import "components/highlight";
@import "components/footnotes";
@import "components/suggested";
@import "components/projects";
@import "components/terms";
@import "components/pagination";
@import "components/shortcodes";

#TableOfContents-container {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--light-background);
  box-shadow: 0.2rem 0.1rem 2px var(--border);
}

#TableOfContents-header {
  font-family: sans;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  background-color: var(--light-background);
}

#TableOfContents {
  padding: 1.8rem 0 1.8px 3.7rem;
}
