.side {
  // NOTE 2022-06-15: Should be the same as value when calculated margin-right
  // for .side-right (below)
  width: 270px;
  border-radius: 7px;
  padding: 7px;
  margin: 0.2em auto;

  p {
    margin: 0;
  }

  @media (max-width: 1280px) {
    width: 100%;
    padding: 0 2em;
  }
}

.side-right {
  float: right;
  clear: right;
  margin-right: calc(-270px - 2em);
  background-color: var(--background);
  transition: 70ms ease;

  p {
    font-size: 0.9rem;
  }

  @media (max-width: 1280px) {
    float: none;
    clear: both;
    margin: 1em auto;
    background: none;
  }
}

.footnotes {
  ol li p {
    margin: 0;
  }
  hr {
    border: none;
    border-top: 1px solid var(--border);
  }
}

.footnote-ref {
  box-shadow: none !important;
}

.footnote-backref {
  box-shadow: none !important;
}

.note-ref {
  cursor: pointer;
  border: none;
  box-shadow: none !important;

  &:hover {
    box-shadow: none;
    border: none;

    @media (min-width: 1280px) {
      ~ .side {
        margin-right: calc(-270px - 1.5em); // See .side-right (above)
        background: var(--light-background-hover);
      }
    }
  }
}

.bg-number {
  background: var(--light-background);
  font-size: 0.9rem;
  color: var(--font-color);
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 5px;
}
