#TableOfContents-container {
  margin: 0 0 24px 0;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--light-background);
  box-shadow: 2px 3px 6px var(--border);
}

#TableOfContents-header {
  font-family: sans;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  background-color: var(--light-background);
}

#TableOfContents {
  padding: 1.8rem 0 1.8px 3.7rem;
  line-height: 2;
}
