/* Links */

a {
  color: var(--dark-font-color);
  text-decoration: none;

  &.image-link {
    border-width: 0;
  }

  code[class*="language-"] {
    color: var(--link-color) !important;

    &:hover {
      background: var(--link-color) !important;
      color: white !important;
    }
  }
}
