{{ define "main" }}

<div class="container">
    <!-- Header -->
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                    <!-- Metadata -->
                    <div class="post-meta">
                        <div>
                            <!-- Support for multiple authors -->
                            {{ $author := .Params.author | default .Site.Params.author }}
                            By {{ with $author }}
                            {{ if (reflect.IsSlice .) }}
                            {{ delimit . ", " }}
                            {{ else }}
                            {{ . }}
                            {{ end }}
                            {{ end }} |

                            <!-- Date published -->
                            <time>{{ .Date.Format "January 02, 2006" }}</time> |

                            <!-- Reading time estimate -->
                            {{ .ReadingTime }} minutes

                            <div class="tags">
                                <!-- Categories -->
                                {{ range (.GetTerms "categories") }}
                                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                {{ end }}
                                <!-- Tags -->
                                {{ range (.GetTerms "tags") }}
                                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </article>

    <!-- Content -->
    <div class="article-post">
        {{ .Content }}

        <!-- Other posts in series -->
        {{ $currPermalink := .Page.Permalink }}
        {{ range (.GetTerms "series") }}
        <hr>
        <h3>{{ .LinkTitle }} series</h3>
        <ol>
            {{ range (where .Page.RegularPages ".Params.series" "eq" .Title) }}
            {{ if eq .Permalink $currPermalink}}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                <em><small>this post!</small></em>
            </li>
            {{ else }}
            <li>
                {{ .LinkTitle }}
                <em><small>coming soon!</small></em>
            </li>
            {{ end }}
            {{ end }}
        </ol>
        <!-- Alternative to revealing the titles of my post drafts -->
        <!-- <div style="font-size: 1.1rem;">
             <center>
             <em>And</em>
             <b>{{ len (where (where .Site.RegularPages ".Params.series" "eq" .Title) ".Params.draft" "eq" true) }}</b>
             <em>on the way!</em>
             </center>
             </div> -->
        {{ end }}
    </div>
</div>

<!-- Next and previous posts -->
<div class="container">
    {{ if .Section }}
    <nav class="flex container suggested">
        {{ with .PrevInSection }}
        <a rel="prev" href="{{ .RelPermalink }}" title="Previous post (older)">
            <span>Previous</span>
            {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a rel="next" href="{{ .RelPermalink }}" title="Next post (newer)">
            <span>Next</span>
            {{ .Title }}
        </a>
        {{ end }}
    </nav>
    {{ end }}
</div>

<!-- Comments -->
{{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}}
<div class="container">
    {{ partial "comments/include" . }}
</div>
{{ end }}
</main>

{{ end }}
