{{ define "main" }}

<div class="container">
    <!-- Header -->
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                    <!-- Metadata -->
                    <div class="post-meta">
                        <div>
                            <!-- Support for multiple authors. I disable this
                            because I am the only author of the posts in by blog
                            -->
                            <!-- {{ $author := .Params.author | default .Site.Params.author }} -->
                            <!-- By {{ with $author }} -->
                            <!-- {{ if (reflect.IsSlice .) }} -->
                            <!-- {{ delimit . ", " }} -->
                            <!-- {{ else }} -->
                            <!-- {{ . }} -->
                            <!-- {{ end }} -->
                            <!-- {{ end }} | -->

                            <!-- Date published and updated -->
                            {{ $date := .PublishDate.Format "Jan 2, 2006" }}
                            {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
                            Published <time>{{ $date }}</time>
                            {{ if and (ne $lastmod $date) (gt .Lastmod .PublishDate) }}
                            <time>, last updated {{ $lastmod }}</time>
                            {{ end }} |

                            <!-- Word count estimate -->
                            {{ .WordCount }} words,

                            <!-- Reading time estimate -->
                            {{ .ReadingTime }} minutes

                            <div class="tags">
                                <!-- Categories -->
                                {{ range (.GetTerms "categories") }}
                                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                {{ end }}
                                <!-- Tags -->
                                {{ range (.GetTerms "tags") }}
                                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content -->
        {{ partial "table-of-contents" . }}

        <div class="article-post">
            {{ .Content }}

            {{ partial "backlinks" . }}

            {{ partial "others-in-series" . }}
        </div>
    </article>
</div>

<!-- Next and previous posts -->
<div class="container">
    {{ if .Section }}
    <nav class="flex container suggested">
        {{ with .PrevInSection }}
        <a rel="prev" href="{{ .RelPermalink }}" title="Previous post (older)">
            <span>Previous</span>
            {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a rel="next" href="{{ .RelPermalink }}" title="Next post (newer)">
            <span>Next</span>
            {{ .Title }}
        </a>
        {{ end }}
    </nav>
    {{ end }}
</div>

<!-- Comments -->
{{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}}
<div class="container">
    {{ partial "comments/include" . }}
</div>
{{ end }}
</main>

{{ end }}
